*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #c5c1c1;
    height: 140vh;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1.5fr;
    grid-template-areas:"sidebar-left nav nav nav"
                        "sidebar-left main main sidebar-right";
    grid-template-rows: 0.7fr 5fr ;
}
i,
button,
.button{
    cursor: pointer;
}

/* ________________sidebar-left_____________ */
.sidebar-left{
    grid-area: sidebar-left;
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 3fr 1fr;
    gap: 3%;
    margin-bottom: 10px;
    
}
.left-top{
    display: flex;
    align-items: center;
    margin: 5px;
}
.left-top h4,
.left-center h4{
    text-transform: uppercase;
}
.left-top span,
.left-center span{
    font-size: small;
    text-transform: capitalize;
}
.left-center{
    display: flex;
    flex-direction: column;
    gap: 6%;
    padding-left: 12px;
}
.group-icon{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.group-icon i{
    font-size: 20px;
}
.left-bottom{
    padding: 15px 10px;
    margin-top: 20px;
}
.left-bottom img{
    border-radius: 15%;
}

/* ____________Navigation___________________ */
nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
    gap: 10px;
}
nav input,
.creates{
    border: none;
    padding: 10px;
    border-radius: 20px;
    outline: none;
}
input[type="date"],
input[type="time"]{
    width: 150px;
}
input[type="search"]{
    width: 440px;
}
.creates{
    background: #ffffff;
    font-size: small;
    text-transform: capitalize;
    width: 140px;
}
.user{
    background: #c5c1c1;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile i{
    background: #ffffff;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}
.profile img{
    border-radius: 50%;
}


/* ______________Main________________________ */
main{
    grid-area: main;
    padding: 0 20px;
    margin-top: 25px;
}
.main-top{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.header-botton,
.type-collection{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header-botton span{
    font-size: small;
    font-weight: bold;
    cursor: pointer;
}
.type-collection .button{
    background: #ffffff;
    display: flex;
    align-items: center;
    font-size: small;
    padding: 10px 25px;
    border-radius: 20px;
}
.button span{
    margin-left: 10px;
}
.card-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px;
}
.card{
    background: #ffffff;
    padding: 5px 6px;
    border-radius: 20px;
    font-size: small;
}
.card-image{
    position: relative;
}
.img-top,
.img-bottom,
.card-image i{
    position: absolute;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
}
.img-top{
    background: #000000b0;
    top: 0;
    right: 0;
    margin: 8px;
    color:white;
}
.img-top:hover{
    background: #ffffffe8;
    color: #000000;
}
.img-bottom{
    background: #ffffff8e;
    right: 0;
    bottom: 0;
    margin: 9px;
    color: #000000;
}
.img-bottom:hover,
.card-image i:hover{
    background: #0000006b;
    color: #ffffff;
}
.card-image i{
    background: #ffffff8e;
    bottom: 0;
    left: 0;
    margin: 8px;
    color: #000000;
    font-size: small;
}
.card img{
    border-radius: 15px;
}
.card-detail{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 5px 7px 10px 7px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.card-name{
    font-weight: bold;
    font-size: 15px;
}

.header-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 5px 10px 5px;
}
.day{
    background: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding:10px;
    font-size: small;
    font-weight: bold;
    border-radius: 20px;
}
.day span:first-child{
    background: #c5c1c1;
    padding: 5px;
    border-radius: 10px;
}
.name-container{
    background: #fffbfb;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
}
.name,
.top-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    gap: 5px;
}
.top-name img{
    border-radius: 50%;
}
.top-name h4{
    font-size: 14px;
    margin-bottom: 5px;
}
.money{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
}
.money span:first-child{
    color: #32b832;
}

/* ___________Sidebar-right________________________ */
.sidebar-right{
    grid-area: sidebar-right;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:"right-top"
                        "right-center"
                        "right-bottom";
    grid-template-rows: 2fr 2.5fr 2fr;
    margin-top: 20px;
    padding: 10px;
}
.right-top{
    grid-area: right-top;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 15px;
    border-radius: 15px;
}
.right-top button{
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-weight: bolder;
}
.right-top button:hover{
    background: #413d3dda;
    color: #ffffff;
    text-transform: uppercase;
}
.balance{
    margin-bottom: 10px;
}
.right-center{
    grid-area: right-center;
    margin-top: 25px;
}
.header-right-center{
    margin: 15px 0;
}
.card-right-center{
    background: #ffffff;
    display: grid;
    gap: 25px;
    padding: 15px;
    border-radius: 15px;
}
.trending-profle,
.right-bottom-top,
.header-right-center,
.balance{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trending-profle span{
    font-size: small;
}
.trending-left,
.right-bottom-profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.trending-name{
    display: grid;
    gap: 8px;
}
.trending-profle img,
.right-bottom-profile img{
    border-radius: 50%;
}
.right-bottom{
    background: #ffffff;
    grid-area: right-bottom;
    display: grid;
    gap: 5px;
    border-radius: 20px;
    padding: 15px;
    margin-top: 11px;
}
.right-bottom-name span{
    font-size: small;
}
.right-bottom-center{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.right-bottom-center img{
    border-radius: 15px;
}
.card-right-bottom{
    background: gainsboro;
    padding: 8px;
    border-radius: 20px;
}
.right-img-detail p:nth-child(2){
    font-size: small;
}
.right-img{
    position: relative;
}
.right-img i{
    background: #fffbfb;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px;
    border-radius: 20px;
}


/* ___________For Mobile____________________- */
@media(max-width:450px){
    body{
        height: 50vh;
        grid-template-areas:"nav nav nav nav"
                            "main main main main"
                            "sidebar-right sidebar-right sidebar-right sidebar-right"
                            "sidebar-left sidebar-left sidebar-left sidebar-left";
        grid-template-rows: auto auto auto auto;
    }
    /* __________________Sidebar-left______________ */
    .sidebar-left{
        grid-template-columns: auto;
        grid-template-rows: none;
        margin: 0;
    }
    .left-top img,
    .left-bottom img{
        display: none;
    }
    .left-center{
        flex-direction: row;
        margin: 10px 0 0 12px;
        gap: 6%;
    }
    .left-center i{
        font-size: 20px;
    }
    .nft h4,
    .nft span,
    .group-icon span,
    .left-center h4{
        display: none;
    }
    /* ____________Navigation___________________ */
    nav{
        margin: 15px 15px 0 5px;
    }
    input[type="date"],
    input[type="time"]{
        display: none;
    }
    input[type="search"]{
        width: 190px;
        padding-left: 10px;
    }
    .creates{
        font-size: smaller;
        width: 120px;
    }
    .user{
        border-radius: 20px;
        padding: 5px 10px;
        margin-right: 0;
    }
    .profile{
        display: flex;
        align-items: center;
    }
    .profile i{
        display: none;
    }
          
    /* ______________Main________________________ */
    main{
        grid-area: main;
        padding: 0 20px;
        margin-top: 25px;
    }
    .main-top{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .header-botton,
    .type-collection{
        font-size: smaller;
    }
    .type-collection .picture,
    .type-collection .art,
    .type-collection .trending{
        display: none;
    }
    .button span{
        margin-left: 5px;
    }
    .card-container{
        grid-template-columns: auto auto;
    }
    .header-name{
        font-size: small;
        margin-top: 40px;
    }
    .name-container{
        grid-template-columns: auto;
    }
    .top-name h4{
        margin-bottom: 7px;
    }

    /* __________________Sidebar_right_________________ */
    .sidebar-right{
        grid-template-rows: auto auto auto;
        margin: 30px 10px 10px 10px;
    }
    .right-top button{
        font-size: larger;
    }
    .right-center{
        margin: 25px 0;
    }
    .header-right-center{
        margin: 10px 5px;
    }
    .trending-profle span{
        font-size: small;
    }
    .right-bottom{
        margin-top: 10px;
    }
    .right-bottom-center{
        gap: 10px;
    }
}


@media(max-width: 390px){
    .sidebar-left .left-center{
        margin-right: 40px;
    }

    /* ___________Naveigation______________ */
    input[type="search"]{
        width: 230px;
    }
    .creates{
        width: 65px;
    }
    .creates .create{
        display: none;
    }
    .creates .user{
        background: none;
    }

    /* ____________Main___________________ */
    .type-collection .button{
        padding: 10px 20px;
    }
    .header-name span:nth-child(2){
        display: none;
    }
    .header-name span:first-child{
        background: none;
    }
    .header-name h2{
        font-size: 17px;
    }
    .day{
        padding: 5px;
    }
}


@media(max-width: 840px){
    body{
        /* height: 100vh; */
        grid-template-columns: 1fr 2fr;
        grid-template-areas:"sidebar-left nav"
                            "sidebar-left main"
                            "sidebar-left sidebar-right";
        grid-template-rows: 1fr 1fr 0.5fr ;
    }


    .sidebar-left{
        /* grid-template-rows: ; */
        
    }
    .sidebar-left .left-top{
        margin: 0;
    }

    nav{
        margin-right: 20px;
    }
    .creates{
        width: 65px;
    }
    .creates .user{
        background: none;
    }
    .creates .create{
        display: none;
    }
    .profile i{
        display: none;
    }
    input[type="date"],
    input[type="time"]{
        display: none;
    }
    /* input[type="search"]{
        width: 400px;
    } */
    

    /* _________Main________- */
    .type-collection .art,
    .type-collection .picture{
        display: none;
    }
    .name-container{
        grid-template-columns: auto auto;
        gap: 20px;
    }
    .name:last-child{
        display: none;
    }


    .sidebar-right{
        grid-template-columns: auto auto;
        grid-template-areas:"right-top right-center";
        grid-template-rows: 1fr 1fr;
        gap: 10px;

    }
    .right-bottom{
        display: none;
    }
    .right-center{
        margin: 0 10px 0 0;
    }
    .header-right-center{
        margin: 0 0 10px 0;
    }
}







